<section>
	<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--fixed-lastrow-only">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
				<a href="#" id="menu-button" class="material-icons mdc-toolbar__icon--menu">menu</a>
				<span class="mdc-toolbar__title">
					<a href="/">Smartie Loteca</a>
				</span>
			</section>
		</div>
	</header>
</section>
