<!DOCTYPE html>
<html>
<head>
	
	<title>
		{{> title}}
	</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" type="application/manifest+json" href="/manifest.json">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/material-components-web.css">
	<link rel="stylesheet" type="text/css" href="/css/theme.css">

	{{#> head }}
	{{/head}}


</head>

<body class="mdc-typography">

	{{> sideMenu }}

	<section>

		{{> upperMenu }}

		<main class="mdc-toolbar-fixed-adjust">
			{{{body}}}
		</main>

	</section>
	
	<!-- Scripts -->
	<section>
		<script src="material-components-web.js"></script>
		{{#> scripts }}

		{{/scripts}}

		
		<script>
		mdc.autoInit()
		var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
		toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');

		let drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-temporary-drawer'));
		document.querySelector('#menu-button').addEventListener('click', () => drawer.open = true);

		// let menu = new mdc.menu.MDCSimpleMenu(document.querySelector('.mdc-simple-menu'));
		// document.querySelector('#loteria-menu').addEventListener('click', () => menu.open = !menu.open);

		var tfs = document.querySelectorAll('.mdc-textfield');
		for (var i = 0, tf; tf = tfs[i]; i++) {
			mdc.textfield.MDCTextfield.attachTo(tf);
		}

		

		</script>

	</section>

</body>
</html>