<!DOCTYPE html>
<html>
<head>
	<title>Smartie-Loteca</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/material-components-web.css">
	<link rel="stylesheet" type="text/css" href="/css/theme.css">

</head>

<body class="mdc-typography">
	<section>
		<aside class="mdc-temporary-drawer">
			<nav class="mdc-temporary-drawer__drawer">
				<div class="mdc-permanent-drawer__toolbar-spacer"></div>
				
				<!-- 
					Cabecalho do menu lateral
					Usar quando usuario estiver logado 
				-->

				<!-- <header class="mdc-temporary-drawer__header">
					<div class="mdc-temporary-drawer__header-content">
						Header here
					</div>
				</header> -->

				{{#if anonimo}}
				<nav class="mdc-temporary-drawer__content mdc-list">

					<a class="mdc-list-item {{#if login}}mdc-temporary-drawer--selected{{/if}}" href="/login">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">account_circle</i>Login
					</a>

					<a class="mdc-list-item {{#if sobre}}mdc-temporary-drawer--selected{{/if}}" href="/sobre">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">info_outline</i>Sobre
					</a>

					<a class="mdc-list-item {{#if ajuda}}mdc-temporary-drawer--selected{{/if}}" href="/ajuda">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">help</i>Ajuda
					</a>
					<a class="mdc-list-item {{#if quemSomos}}mdc-temporary-drawer--selected{{/if}}" href="/quem-somos">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">people</i>Quem Somos
					</a>
				</nav>
				{{/if}}

				{{#if logado}}

				<nav class="mdc-temporary-drawer__content mdc-list">

					<a class="mdc-list-item {{#if login}}mdc-temporary-drawer--selected{{/if}}" href="/login">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">account_circle</i>Login
					</a>
					<a class="mdc-list-item {{#if perfil}}mdc-temporary-drawer--selected{{/if}}" href="/perfil">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">account_circle</i>Perfil
					</a>
					<a class="mdc-list-item {{#if meusJogos}}mdc-temporary-drawer--selected{{/if}}" href="/meus-jogos">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">games</i>Meus Jogos
					</a>
					<a class="mdc-list-item {{#if termometro}}mdc-temporary-drawer--selected{{/if}}" href="/termometro">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">whatshot</i>Termômetro
					</a>

					<hr class="mdc-list-divider">

					<a class="mdc-list-item {{#if sobre}}mdc-temporary-drawer--selected{{/if}}" href="/sobre">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">info_outline</i>Sobre
					</a>
					<a class="mdc-list-item {{#if resultados}}mdc-temporary-drawer--selected{{/if}}" href="/resultados">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">view_list</i>Resultados
					</a>

					<hr class="mdc-list-divider">

					<a class="mdc-list-item {{#if ajuda}}mdc-temporary-drawer--selected{{/if}}" href="/ajuda">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">help</i>Ajuda
					</a>
					<a class="mdc-list-item {{#if quemSomos}}mdc-temporary-drawer--selected{{/if}}" href="/quem-somos">
						<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">people</i>Quem Somos
					</a>
				</nav>

				{{/if}}				

			</nav>
		</aside>
	</section>
	<section>
		<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--fixed-lastrow-only">
			<div class="mdc-toolbar__row">
				<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
					<a href="#" id="menu-button" class="material-icons mdc-toolbar__icon--menu">menu</a>
					<span class="mdc-toolbar__title">
						<a href="/">Smartie Loteca</a>
					</span>
				</section>
				{{!-- 
					<section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
						<a id="loteria-menu" class="material-icons mdc-toolbar__icon toggle mdc-menu-anchor" aria-label="More" alt="More">more_vert</a>
						<div class="mdc-simple-menu" tabindex="-1">
							<ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
								<li class="mdc-list-item" role="menuitem" tabindex="0">
									Lotofácil
								</li>
								<li class="mdc-list-item" role="menuitem" tabindex="0">
									Mega-Sena
								</li>
							</ul>
						</div>
					</section>
					--}}
				</div>
			</header>

			<main class="mdc-toolbar-fixed-adjust">
				{{{body}}}
			</main>

		<!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-success">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">Smartie Loteca</a>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {{#if home}}active{{/if}} {{#if home}}active{{/if}}">
						<a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item {{#if sobre}}active{{/if}}">
						<a class="nav-link" href="/sobre">Sobre</a>
					</li>
					<li class="nav-item {{#if quemSomos}}active{{/if}}">
						<a class="nav-link" href="/quem-somos">Quem Somos</a>
					</li>

					{{!-- {{#if logado}} --}}
					<li class="nav-item {{#if agenda}}active{{/if}}">
						<a class="nav-link" href="/agenda">Agenda</a>
					</li>

					<li class="nav-item {{#if glossario}}active{{/if}}">
						<a class="nav-link" href="/glossario">Glossário</a>
					</li>
					<li class="nav-item {{#if termometro}}active{{/if}}">
						<a class="nav-link" href="/termometro">Termômetro</a>
					</li>
					<li class="nav-item {{#if estatisticas}}active{{/if}} dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/loterias" role="button" aria-haspopup="true" aria-expanded="false">Estatísticas</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/loterias/lotofacil">Lotofácil</a>
							<a class="dropdown-item" href="/loterias/megasena">Mega-Sena</a>
						</div>
					</li>
					{{!-- {{/if}} --}}
					<li class="nav-item {{#if login}}active{{/if}}">
						<a class="nav-link" href="/login">Login</a>
					</li>
				</ul>
			</div>

		</nav> -->
	</section>
	

	<!-- Scripts -->
	<section>
		<!-- <script src="/js/jquery.min.js"></script>
		<script src="/js/tether.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/termometro.js"></script> -->
		<script src="material-components-web.js"></script>
		<script>mdc.autoInit()</script>
		<script>
		var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
		toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');

		let drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-temporary-drawer'));
		document.querySelector('#menu-button').addEventListener('click', () => drawer.open = true);

		// let menu = new mdc.menu.MDCSimpleMenu(document.querySelector('.mdc-simple-menu'));
		// document.querySelector('#loteria-menu').addEventListener('click', () => menu.open = !menu.open);

		var tfs = document.querySelectorAll('.mdc-textfield');
		for (var i = 0, tf; tf = tfs[i]; i++) {
			mdc.textfield.MDCTextfield.attachTo(tf);
		}


		</script>


	</section>

</body>
</html>