<section>
	<section class="jumbotron jumbotron-fluid text-center container-fluid">
		<h1 class="display-3">Smartie Loteca</h1>
		<p class="lead">Aumentando suas chances de ganho através de estatísticas. Não dizemos como ganhar mas dizemos como não perder
		</p>
	</section>
	<section class="container-fluid text-center my-4">
		<div class="row">
			<div class="col-lg-4 text-center">
				<img class="rounded-circle" src="/img/home_1.png" alt="Loterias" width="140" height="140">
				<p class="h2">
					<a href="loterias" role="">Conheça as regras</a>
				</p>
				<p>Saiba como funciona cada jogo de maneira objetiva</p>
			</div>
			<div class="col-lg-4 text-center">
				<img class="rounded-circle" src="/img/home_2.png" alt="Bom ou Ruim?" width="140" height="140">
				<p class="h2">
					<a href="termometro" role="button">Termômetro</a>
				</p>
				<p>Crie jogos e confira nossa análise. Será que seu jogo tem chances?</p>
			</div>
			<div class="col-lg-4 text-center">
				<img class="rounded-circle" src="/img/home_3.png" alt="Estatísticas" width="140" height="140">
				<p class="h2">
					<a href="estatisticas" role="button">Estatísticas</a>
				</p>
				<p>Inúmeras estatísticas dos jogos explicadas de maneira simples</p>
			</div>
		</div>
	</section>
</section>