<section>
	
	<!-- Titulo -->
	<section class="page-title">
		<p class="mdc-typography--title">Entrar na Conta</p>
	</section>

	<!-- Social Buttons -->
	<section>
		<div class="mdc-layout-grid">

			<div class="mdc-layout-grid__inner">

				<div class="mdc-layout-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-12-desktop login-option">
					<button aria-label="Facebook">
						<img src="/icons/Facebook-color.svg" alt="Facebook">
					</button>
				</div>

				<div class="mdc-layout-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-12-desktop login-option">
					<button aria-label="Google">
						<img src="/icons/Google-color.svg" alt="Google">
					</button>
				</div>

				<div class="mdc-layout-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-12-desktop login-option">
					<button aria-label="Twitter">
						<img src="/icons/Twitter-color.svg" alt="Twitter">
					</button>
				</div>

				<div class="mdc-layout-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-12-desktop login-option">
					<button aria-label="Instagram">
						<img src="/icons/Instagram-color.svg" alt="Instagram">
					</button>
				</div>

			</div>

		</div>

	</section>
	
	<!-- Formulario de Cadastro -->
	<section>
		<form action="login" method="POST" accept-charset="utf-8">

			<div class="mdc-layout-grid home-login">
				<div class="mdc-layout-grid__inner mdc-layout-grid--align-center">

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

						<div class="mdc-form-field">
							<div class="mdc-textfield mdc-textfield--upgraded">
								<input type="text" name="email" class="mdc-textfield__input" id="email" aria-controls="email">
								<label for="email" class="mdc-textfield__label">E-mail</label>
								<div class="mdc-textfield__bottom-line" style="transform-origin: 121px center"></div>
							</div>
						</div>

					</div>

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

						<div class="mdc-form-field">
							<div class="mdc-textfield mdc-textfield--upgraded">
								<input type="password" name="senha" class="mdc-textfield__input" id="password" aria-controls="password">
								<label for="password" class="mdc-textfield__label">Senha</label>
								<div class="mdc-textfield__bottom-line" style="transform-origin: 121px center"></div>
							</div>
						</div>						

					</div>

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
						<button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
							Entrar
						</button>
					</div>


				</div>
			</div>
		</form>

		<div class="mdc-layout-grid home-login">
			<div class="mdc-layout-grid__inner mdc-layout-grid--align-center">

				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
					<button class="mdc-button mdc-button--raised" onclick="location.href='/cadastro'" data-mdc-auto-init="MDCRipple" data-mdc-auto-init="MDCRipple">
						Não tenho cadastro
					</button>
				</div>
			</div>
		</div>
	</section>

</section>