<div class="container">
	<h1 class="my-4">Quem Somos</h1>
	<p>A <b>Smartie Tech Labs</b> é uma empresa inovadora que busca soluções para problemas do dia-a-dia.</p>
	<section class="row text-center placeholders">
		<div class="col-6 col-sm-6 placeholder">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlCAAAAJGU1MzYzM2JkLTlkZDktNGViNi04MWNkLTcxMjdlODZjNDIxNQ.jpg"  width="200" height="200" class="img-fluid rounded-circle" alt="Amanda Protasio">
			<h4>
				<a href="https://www.linkedin.com/in/amandaprotasio/"  target="_blank">
					Amanda Protasio
				</a>
			</h4>
			<div class="text-muted">Something else</div>
		</div>
		<div class="col-6 col-sm-6 placeholder">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAojAAAAJDBmYjJmZjY5LTYzN2QtNDMxMS1hNjcwLWQyOTQ4NmMwNWYxZA.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Fábio Pagoti">
			<h4>
				<a href="https://www.linkedin.com/in/fabiopagoti/"  target="_blank">
					Fábio Pagoti
				</a>
			</h4>
			<div class="text-muted">Something else</div>
		</div>
	</section>
</div>