<div class="container">
	<h1>Sobre</h1>
	<p class="text-justify">
		A Smartie Loteca quer ajudar você a ganhar na loteria e isso não é uma brincadeira!
	</p>
	<h2>Como funciona?</h2>
	<p class="text-justify">
		A Caixa, que é responsável pelas loterias no Brasil, divulga em seu site o histórico de todos os resultados das loterias.
		Nós simplesmente fazemos muitas análises sobre este histório de jogos ganhadores e comparamos com o jogo que você quer fazer.
	</p>
	<p class="lead">
		Nós <strong>não</strong> dizemos em qual jogo você deve apostar. Você monta um jogo assim como faz hoje e nós iremos te dizer quão bom ou ruim é este jogo baseado nas nossas análises. Nós não prometemos nada: nem vitória, nem derrota.
	</p>
	<h2>Exemplos</h2>
	<p class="text-justify">
		Supondo que você queira jogar na Lotofácil, você deve apostar em 15 números dos 25 disponíveis.
		Você pega um volante (cartela) na casa lotérica e monta a seguinte aposta.
		<blockquote class="blockquote">
			1-2-4-5-6-8-11-12-13-14-16-19-20-22-24
		</blockquote>
		Antes de ir na casa lotérica apostar neste jogo, que custa R$2.00, você decide usar o Smartie Loteca para analisar seu jogo.
		Nós lhe dizemos que este jogo não é muito bom porque:
		<ol >
			<li>
				Você escolheu o número 8, que é o número que **menos** aparece em jogos ganhadores (apareceu 883 vezes em 1556 concursos - 56% das vezes)
			</li>
			<li>
				Você escolheu o número 16, que é o segundo número que **menos** aparece em jogos ganhadores (apareceu 885 vezes em 1556 concursos - 56% das vezes)
			</li>
			<li>
				Você escolheu 10 números pares e 5 ímpares. Esta combinação só ocorreu em 2% dos jogos ganhadores.
			</li>
		</ol>
		Você resolve criar uma nova aposta e analisá-la novamente. Com base nas dicas, você resolve retirar os números 8 e 16 de sua aposta e substituir pelos números 9 e 17, respectivamente.
		<blockquote class="blockquote">
			1-2-4-5-6-<b>9</b>-11-12-13-14-<b>17</b>-19-20-22-24
		</blockquote>
		A nova aposta é melhor que a primeira pois entre outros fatos:
		<ol >
			<li>
				Você escolheu o número 13, que é o número que **mais** aparece em jogos ganhadores (apareceu 972 vezes em 1556 concursos - 62% das vezes)
			</li>
			<li>
				Você escolheu o número 11, que é o segundo número que **mais** aparece em jogos ganhadores (apareceu 970 vezes em 1556 concursos - 62% das vezes)
			</li>
			<li>
				Você escolheu 8 números pares e 7 ímpares. Esta combinação aparece em 25% dos jogos ganhadores.
			</li>
		</ol>

	</p>
</div>