<div class="container">
	<h1>Termômetro</h1>
	<br>
	<h2>Selecione 15 números:</h2>
	{{#each numeros}}
	<div class="d-flex p-2 flex-row justify-content-between align-items-center flex-wrap">
		{{#each no}}
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary numero" aria-pressed="false">
				<div class="numero-texto">
					<input type="checkbox" enabled>{{this}}
				</div>
			</label>
		</div>
		{{/each}}
	</div>
	{{/each}}
</div>
</div>
