<section class="container">
	<h1 class="my-4">Termômetro</h1>
	<p class="termometro-subtitulo">Selecione 15 números:</p>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<form class="form-check form-check-inline col-md-12 col-sm-12" method="post">
				<div class="d-flex flex-column">
					{{#each numeros}}
					<div class="d-flex flex flex-nowrap align-content-center flex">
						{{#each no}}
						<label class="btn btn-sm btn-outline-primary rounded-circle align-middle label-numero" >
							<div class="numero-texto">
								<input class="input-numero" data-bola="{{this}}" type="checkbox" name="bola{{this}}" enabled>
								{{this}}
								</input>
							</div>
						</label>
						{{/each}}
					</div>
					{{/each}}
				</div>
				<button type="button" onclick="verificaAposta()" class="btn btn-outline-primary btn-lg btn-block">Analisar</button>
			</form>
		</div>
		
	</div>
</section>