/*@see https://v4-alpha.getbootstrap.com/getting-started/introduction/*/
.selector-for-some-widget {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

.jumbotron {

/*color: white;*/
}

h1 {
line-height: 0.7em;
}

p {
line-height: 200%;
}

.dropdown-item:focus,
.dropdown-item:hover {
color: #fff;
text-decoration: none;
background-color: #13B955;
}

.footer {
padding-top: 1.5rem;
color: #777;
border-top: .05rem solid #e5e5e5;
}

.label-numero {
width: 4em;
height: 4em;
text-align: center;
align-items: center;
display: grid;
}

.numero-texto {
font-size: 1.5em;
}

.termometro-subtitulo {
font-size: 1.5em;
}

.fundo-numeros {
border-radius: 1%;
border-color: #EDEDED;
background-color: #EDEDED;
}

.numeros-space {
padding: 0.7rem;
}
