.numero {
    width: 4em;
    border-radius: 100% !important;
    height: 4em;
    text-align: center;
    display: grid;
    align-items: center;
}


.numero-texto{
	font-size: 1.5em;
}

.termometro-subtitulo{
  font-size: 1.5em;
}

.fundo-numeros{
  border-radius: 1%;
  border-color: #EDEDED;
  background-color: #EDEDED;
}

.numeros-space{
  padding: 0.7rem;
}
