/*@see https://v4-alpha.getbootstrap.com/getting-started/introduction/*/
.selector-for-some-widget {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

h1 {
line-height: 0.7em;
}

p {
line-height: 200%;
}

.dropdown-item:focus,
.dropdown-item: {
color: #fff;
text-decoration: none;
background-color: #13B955;
}

.footer {
padding-top: 1.5rem;
color: #777;
border-top: .05rem solid #e5e5e5;
}

.label-numero {
width: 4em;
height: 4em;
text-align: center;
align-items: center;
display: grid;
}

.termometro-subtitulo {
font-size: 1.5em;
}

.numero-fundo {
background-color: #EDEDED;
}

.numero-area {
border: #422470;
border-style: solid;
border-width: medium;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
display: inline-block;
text-align: center;
line-height: 1;
}

.numero-label {
font-size: 1.5em;
white-space: nowrap;
}

[data-selecionado="true"] {
background-color: #422470;
color: white;
}

[data-selecionado="false"] {
background-color: #EDEDED;
}