:root 
{
  --mdc-theme-primary: #15874d;
  --mdc-theme-primary-light: #52b87a;
  --mdc-theme-primary-dark: #005924;
  --mdc-theme-secondary: #52b87a;
  --mdc-theme-secondary-light: #85eba9;
  --mdc-theme-secondary-dark: #16874d;
  --mdc-theme-background: white;
}

.element-card.earth {
  --mdl-theme-primary: #795548;
  --mdl-theme-text-primary-on-primary: var(--mdl-theme-text-primary-on-dark);
}

.element-card.wind {
  --mdl-theme-primary: #9e9e9e;
  --mdl-theme-text-primary-on-primary: var(--mdl-theme-text-primary-on-light);
}

.element-card.fire {
  --mdl-theme-primary: #f44336;
  --mdl-theme-text-primary-on-primary: var(--mdl-theme-text-primary-on-dark);
}

.element-card.water {
  --mdl-theme-primary: #00bcd4;
  --mdl-theme-text-primary-on-primary: var(--mdl-theme-text-primary-on-light);
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-80 { font-size: 80px; }


/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }  



/* Common */
.page-title{
  text-align: center;
  margin-top: 10px;
}

/*  Home */
.mdc-toolbar__title a{
  color: inherit;
  cursor: auto;
  text-decoration: none;
}

.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.video-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.video-container-4x3 {
  padding-bottom: 75%;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.mdc-button {
  background-color: var(--mdc-theme-primary) !important;
  width: 250px
}

.home-login{
  text-align: center;
}

/* Cards na Home */
.card-wrapper-link{
  text-decoration: none;
}

.mdc-card > i{
  text-align: center;
  background-color: var(--mdc-theme-secondary);
  color: var(--mdc-theme-background);
}

/* Quem Somos */
.amanda{
  height: 200px;
  background-image: url(https://www.gravatar.com/avatar/71532a82df2d87c88947921e7cbfee29?s=200);
  background-size: cover;
  background-repeat: no-repeat;
}


/* Login */
.login-option {
  text-align: center;
}

/* Cadastro */

.mdc-textfield{
  width:250px;
}

/* Sobre */
.text-justify{
  text-align: justify;
}