<section>
	
	<!-- Titulo -->
	<section class="page-title">
		<p class="mdc-typography--title">Dashboard</p>
	</section>

	<p>
		Olá 
		{{#if nome}} 
			{{nome}}
		{{else}}
			{{email}}
		{{/if}}
	</p>	

</section>
	