<section>
	<div class="mdc-layout-grid mdc-layout-grid--fixed-column-width">

		<div class="mdc-layout-grid__inner">

			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<div class="mdc-card">
					<div class="mdc-card__horizontal-block">
						<section class="mdc-card__primary">
							<h1 class="mdc-card__title mdc-card__title--large">Amanda Protasio</h1>
							<h2 class="mdc-card__subtitle">Desenvolvedora</h2>
						</section>
						<img class="mdc-card__media-item mdc-card__media-item--2x" src="https://www.gravatar.com/avatar/36a37903a8adbd458c328d8ed4b80d7d?s=200">
					</div>
					<section class="mdc-card__actions">
						<button class="mdc-button mdc-button--compact mdc-card__action">GitHub</button>
						<button class="mdc-button mdc-button--compact mdc-card__action">LinkedIn</button>
					</section>
				</div>
			</div>

			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<div class="mdc-card">
					<div class="mdc-card__horizontal-block">
						<section class="mdc-card__primary">
							<h1 class="mdc-card__title mdc-card__title--large">Fábio Pagoti</h1>
							<h2 class="mdc-card__subtitle">Desenvolvedor</h2>
						</section>
						<img class="mdc-card__media-item mdc-card__media-item--2x" src="https://www.gravatar.com/avatar/71532a82df2d87c88947921e7cbfee29?s=200">
					</div>
					<section class="mdc-card__actions">
						<button class="mdc-button mdc-button--compact mdc-card__action">GitHub</button>
						<button class="mdc-button mdc-button--compact mdc-card__action">LinkedIn</button>
					</section>
				</div>
			</div>


		</div>
	</div>
</section>