<section>
	<section class="row text-justify placeholders">
		<div class="container">
			<h1 class="my-4">Resultado</h1>
			<p>Frequência: {{frequencia}}</p>
		</div>
		<div class="col-sm-6">
			<p class="termometro-subtitulo">Resultado da Análise: </p>
			<div>
				<img src="/img/img_termometro.png" class="termometro-img" alt="Termometro">
			</div>
		</div>
	</section>
</section>