<section>
	{{#each loterias}}
	<div class="mdc-card">
		<section class="mdc-card__media">
			<h1 class="mdc-card__title mdc-card__title--large">{{nome}}</h1>
		</section>
		<section class="mdc-card__actions">
			<button class="mdc-button mdc-button--compact mdc-card__action">Sobre</button>
		</section>
	</div>
	{{/each}}
</section>